main {
    padding: 25px 0;
}

section.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.form i {
    transform: translate(135px, 40px);

    font-size: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

form button {
    margin-top: 20px;
    background: #ff7b72; /* coral pink */
    border: none;
    padding: 12px;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    color: #000;
    font-weight: 500;
    transition: 0.3s;
}