.form-group{
    display: flex;
    justify-content: center;
}

.field{
    display: block;
    padding: 20px 20px;
    border: 5px solid #000000;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 5px;
}