*{
    margin: 0;
}

main{
    height: 1610px;
    padding: 10px 0;
}

form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-category{
    margin-left: 28px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.form-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid #BBDD95;
    box-shadow: 0 0 4px rgba(76, 175, 80, 0.5);
    padding: 5px 0;
}

.form-option{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

i{
  font-size: 35px;
}

.input{
    appearance: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #FE938C;
    border-radius: 5px;
}

/*.input:checked{*/
/*    background-color: #FE938C;*/
/*    border-color: #FE938C;*/
/*}*/

.input:checked::after {
    content: "✔";
    color: black;
    font-size: 17px;
}

.input-radio{
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #FE938C;
    border-radius: 50%;
}

/*.input-radio:checked{*/

/*}*/

.input-radio:checked::after {
    content: "✔";
    color: black;
    font-size: 17px;
}



button{
    margin-top: 20px;
    background: #ff7b72; /* coral pink */
    border: none;
    padding: 12px;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    color: #000;
    font-weight: 500;
    transition: 0.3s;
}











